# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# Data folders (generated automatically)
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env